doctype html
html(ng-app="biApp")
    head
        meta(charset='utf8')
        base(href='/')
        title Course App demo
        link(rel='stylesheet', href='/css/app.css')
        link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet' ,type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet', type='text/css')
    body(ng-controller='AppCtrl')
    include navigation

    block body

    include footer


